# Do not remove this line or mod_rewrite rules and search engine friendly URLs will stop working
Options +FollowSymlinks
RewriteEngine On
RewriteBase /
AddDefaultCharset utf-8

# remove last "/" if exists
RewriteCond %{REQUEST_URI} !^/$
RewriteCond %{REQUEST_URI} (.*)/$
RewriteRule . %1 [R=301,L,E=NS:1,QSA]

# one point to enter
RewriteCond %{REQUEST_FILENAME} -s [OR]
RewriteCond %{REQUEST_FILENAME} -l [OR]
RewriteCond %{REQUEST_FILENAME} -d
RewriteRule ^.*$ - [NC,L]
RewriteRule ^.*$ index.php [NC,L]

php_flag magic_quotes_gpc 0
php_flag magic_quotes_runtime 0